body{
  padding: 0;
  margin: 0;
}

.banner {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgb(0, 0, 0) 80%, rgb(2, 2, 44) 99%);
}

.banner .slider {
  position: absolute;
  display: block;
  width: 120px;
  height: 150px;
  top: 5%;
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-8deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-8deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  width: 90%;
  height: 80%;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(550px);
  transform-style: preserve-3d;
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .content {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: 60%;
  align-items: center;
}

.banner h1 {
  font-size: 8em;
  text-align: left;
  color: rgb(21, 210, 213);
  transform: translateX(-6%);
  z-index: 2;
}

.banner .content .description {
  font-size: 2em;
  text-align: right;
  transform: translateX(20%);
  color: rgb(21, 210, 213);
}

span {
  color: transparent;
  -webkit-text-stroke: 2px #2c0df0;
  text-shadow: 3px 3px 5px #ffffff;
}

.banner .content .model {
  background-image: url(back.png);
  width: 100%;
  height: 65vh;
  position: absolute;
  bottom: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
